* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(4, 83, 4);
}


    


/*-------------------------------header----------------------------*/
#hd {
  width: 100vw;
  height: 10vh;
  background-color: blueviolet;
  display: flex;
}
.hd__sec {
    border: 1px dotted black;
    height: 100%;
    background-color: rgb(158, 233, 158);
}

#hd__sec01 { 
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
#hd__sec01 img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

#hd__sec02 {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;


}

#nav__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

#nav__list li  {
  margin: 0px 10px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;

}

#nav__list li a:hover {
    background-color: white;
    color: darkcyan;  

}
#nav__list li:hover {
  background-color: white;
  color: darkcyan;  

}



#nav__list li a {
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;


}
#hd__sec03 {
  flex: 4;

}


/*-------------------------------main------------------------------*/
#mn {
  width: 100vw;
  height: 10vh;
  background-color: rgb(27, 61, 27);

}
#mn__sec01 {
    text-align: center;
    color: white;
    height: 20vh;
     
}

#mn__sec01 img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px;
}
  #mn__sec02 {
    padding: 20px;
    height: 40vh;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 5vh 1fr 1fr ;
    gap: 10px;
    grid-template-areas: 
    "tit tit tit"
    "proj01 proj02 proj03"
    "proj04 proj05 proj06";
}

  #mn__sec02 h2 {
    color: white;
    grid-area: tit;
  }

#mn__sec02__proj01 {
  background-color: rgb(205, 213, 205);
  grid-area: proje01;
} 
#mn__sec02__proj02 {
  background-color: rgb(221, 104, 50);
  grid-area: proje02;

}
#mn__sec02__proj03 {
  background-color: rgb(202, 202, 13);
  grid-area: proje03;
}
#mn__sec02__proj04 {
  background-color: rgb(91, 17, 90);
  grid-area: proje04;
}
#mn__sec02__proj05 {
  background-color: rgb(19, 74, 133);
  grid-area: proje05;
}
#mn__sec02__proj06 {
  background-color: rgb(209, 94, 23);
  grid-area: proje06;

}

/*-------------------------------footer----------------------------*/
#ft {
  width: 100vw;
  height: 10vh;
  background-color:rgb(27, 61, 27)
}
